.lbl_checked {
  text-decoration: solid;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #dddddd;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.lbl_unChecked {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  background: #ffd205;
  border: 1px solid #dddddd;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
